<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.repository.UserRepository">
    <select id="findByUsername" parameterType="java.lang.String" resultType="User">
        select * from user where username = #{username}
    </select>

    <insert id="save" parameterType="User">
        insert into user(username, password, phone, email, role)
        values (#{username}, #{password}, #{phone}, #{email}, "USER")
    </insert>

    <update id="update" parameterType="User">
        update user
        set password = #{password}, phone = #{phone}, email = #{email}
        where username = #{username}
    </update>
</mapper>